.box{
    width: 100%;
    height: 700px;
    display: flex;
    background-color: #EFF6FA;
    
}
.bigimg{
    margin: 100px 0 0 100px;
    width: 50%;
    position: relative;
    z-index: 1;
    animation: slideInOut 7s ease-out;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    margin-left: 100px;
}
.about h4{
    color: #948979;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 7px;
    font-family:'Roboto',Jost;
}
.about h1{
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #2E2E37;
    font-family: 'Roboto', Jost;
    width: 90%;
}
.about p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 90%;
    color: #4D4D5C;
    font-family:'Roboto',Open Sans;
}
.info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-top: 30px;
    padding-right: 0;
    width: 90%;
}
.about .sign span{
margin-top: 100px;
color: #2E2E37;
font-weight: 400;
font-size: 21px;
line-height: 25px;
width: 180px;
word-spacing: 5px;
text-transform: uppercase;
}
.about .sign p{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 100px;
    transform: translateX(300px);
    width: 100%;
}
.im img{
    position: absolute;
    left:10px;
    top: 125rem;
    z-index: 2;
    animation: slideInOut 7s ease-out;

}
.bor img{
    position: absolute;
    left: 500px;
    bottom: -55rem;
    animation: slideInOut 7s ease-out;

}
.bak img{
    position: absolute;
    left: 30px;
    top:105rem ;
    z-index: 2;
    animation: slideInOut 7s ease-out;
}
@keyframes slideInOut {
    0% {
        transform: translateX(-100%); /* خارج الشاشة من اليسار */
        opacity: 0; /* غير مرئية */
        }
    25% {
        transform: translateX(0); /* داخل الشاشة */
        opacity: 1; /* مرئية */
        }
        75% {
        transform: translateX(0); /* تظل في مكانها */
        opacity: 1; /* مرئية */
        }
        100% {
        transform: translateX(0); /* تخرج من الشاشة إلى اليمين */
        opacity: 1; 
    }
    }
    @media (max-width:1246px){
        .im img{
            top:110rem;
        }
        .bor img{ 
            bottom: -50rem;
            left: 430px;
        }
        .bak img{
            top:95rem;
        }
        .about h1{
            width:700px;
        }
        .bigimg img{
            width:400px ;
        }
        .about p{
            width: 90%;
        }
        .info{
            width: 89%;
        }
        .about .sign p {
            margin-top:70px;
            transform: translateX(200px);
            
        }
    }
    @media(max-width:1025px){
        .bigimg{
            margin: 100px 0 0 90px;
            width: 50%;
    }
    .about{ 
        margin-left: 80px;
        width: 100%;
    }
    .about h1{
        font-weight: 300;
        font-size: 50px;
        line-height: 60px;
        width: 100%;
    }
    .about .sign p{
        margin-top:80px;
        transform: translateX(200px);
    }
    .bor img{ 
        bottom: -51rem;
        left: 400px;
    }
    .about .sign p {
        margin-top:60px;
        transform: translateX(80px);
        
    }
    }
